<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urna Eletrônica</title>
    <link rel="icon" href="img/urna.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <script src="js/index.js" defer></script>
    <!-- ---------------- Area de Cabeçalho ---------------------- -->
    <header>
        <br>
        <h1></h1><br>
    </header>
    <!-- ---------------- Sessao Principal ---------------------- -->
    <main>
        <form id="urna-form" method="">
            <fieldset class="borda">
                <legend class="borda">Apuração dos Votos</legend>
               
                <input id="idNumeroCandidato" type="number" autofocus placeholder="Número de seu candidato"><br><br>
                <input id="idCPF" type="text" name="nmCPF" value="" placeholder="Digite seu CPF"><br><br>
                <section class="botoesUrnaEletronica">
                    <input class="confirmar" type="button" value="Confirmar" onclick="enviarVoto()">
                    <input class="cancelar" type="button" value="Cancelar" onclick="resetUrna()">
                    <input class="branco" type="button" value="Branco" onclick="contabilizarBranco()">

                </section>
                <br>
            </fieldset>
            <br><br>
        </form>
        <div id="mensagem"></div>
    </main>
    <!-- ---------------- Sessão de Rodapé  ---------------------- -->
    <footer>
        <p>&copy; 2023 - Estudos Entra21.<br>Autora: Francine dos Santos.</p>
    </footer>

</body>

</html>