<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Contato - Login</title>
    <link rel="stylesheet" type="text/css" href="./styles/style.css">
    <script src=""></script>
    <link rel="icon" href="./img/urna.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
       <main class="login">
        <form action="" mathod="post">
            <fieldset class="borda">
                <legend class="borda">Login</legend>
                <br>
                <label for="nome">CPF</label>
                <input type="text" id="idcpf" name="cpf" value="" placeholder="CPF" autofocus><br><br>

                <label for="nome">Usuário</label>
                <input type="text" id="idUsuario" name="usuário" value="" placeholder="Usuário" autofocus><br><br>

                <label for="senha">Senha</label>
                <input type="password" id="idSenha" name="senha" placeholder="Senha" required>
                
                <section class="buttonLogin">
                    <input type="button" value="Login">
                </section>
                <br>
            </fieldset>
        </form>
    </main>
    <footer>
        <p>&copy; 2023 - Estudos Entra21.<br>Autora: Francine dos Santos.</p>
    </footer>
</body>
</html>